/* Config Cores Projeto */

:root {
  /*Body*/
  --body-color: rgb(255, 255, 255);
  --body-color2: rgb(166, 255, 249);

  /*Box*/
  --box-form: rgb(206, 247, 255);
  --box-form-tarefa: rgb(198, 255, 193);

  --box-primari-color: rgb(206, 214, 253) 10%;
  --box-second-color: rgb(255, 255, 255) 40%;

  --box-shadow1: black;
  --box-shadow2: rgb(0, 255, 21);

  --box-border-color: 1px solid rgb(103, 103, 103);

  /*Botoes*/
  --botoes-positivos: rgb(145, 255, 120);
  --botoes-negativos: rgb(255, 161, 161);
  --botoes-neutros: rgb(148, 148, 148);

  --botoes-neon1: rgb(26, 139, 0);
  --botoes-neon2: rgb(255, 0, 0);
  --botoes-neon3: rgb(79, 79, 79);

  --bordas-botoes-positivas: 1px solid green;
  --bordas-botoes-negativas: 1px solid red;
  --bordas-botoes-neutros: 1px solid rgb(90, 89, 89);

  /*Fontes*/
  --fonte-icones: rgb(0, 0, 0);
  --fonte-tarefa: rgb(0, 0, 0);
  --fonte-estado: rgb(0, 73, 77);
}

/* 








*/

body {
  height: 100vh;
  background-image: linear-gradient(
    to top,
    var(--body-color),
    var(--body-color2)
  );
  margin: 0px 50px 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Header*/

#formulario {
  height: 60px;
}

#headerTask p {
  font-weight: bold;
}

#headerTask button {
  background-color: var(--botoes-positivos);
  width: 70px;
  height: 25px;
  border-radius: 0px 0px 10px 0px;
  font-weight: bold;
  cursor: pointer;
  border: var(--bordas-botoes-positivas);
  color: var(--fonte-icones);
}

#formulario {
  color: var(--fonte-icones);
  margin: auto;
  margin-bottom: 20px;
  background-color: var(--box-form);
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
  padding: 0px 10px;
  border-radius: 0px 0px 14px 14px;
  border: var(--box-border-color);
  box-shadow: var(--box-shadow1) 0px 0px 8px;
}
#novaTarefa {
  height: 36px;
  width: 180px;
  outline: none;
  border: 1px solid;
  border-radius: 8px;
}

#novaTarefa:focus {
  background-color: var(--box-form-tarefa);
}

/*cards*/
#contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 8px;
}

.cards {
  display: flex;
  background-image: linear-gradient(
    to left,
    var(--box-primari-color),
    var(--box-second-color)
  );
  width: 350px;
  height: 85px;
  padding: 7px;
  border-radius: 14px;
  margin: 7px 5px;
}
#tipA {
  border: var(--box-border-color);
  box-shadow: var(--box-shadow1) 0px 0px 8px;
}
#tipB {
  border: var(--box-border-color);
  box-shadow: var(--box-shadow2) 0px 0px 8px;
}
.cards h3:first-child {
  width: 295px;
  height: 48px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 3px;
  word-break: break-word;
  color: var(--fonte-tarefa);
}
.cards div:first-child {
  border-right: var(--box-border-color);
}

.cards div:last-child {
  margin-left: 5px;
  width: 30px;
}
.cards p {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: var(--fonte-estado);

  border-radius: 4px;
  width: min-content;
  margin: auto;
  padding: 0px 3px;
}

.penden {
  background-color: var(--botoes-negativos);
  border: var(--bordas-botoes-negativas);
}
.conclu {
  background-color: var(--botoes-positivos);
  border: var(--bordas-botoes-positivas);
}
.botaoDeletar {
  color: var(--fonte-icones);
  background-color: var(--botoes-negativos);
  width: 30px;
  height: 25px;
  border-radius: 0px 10px 0px 0px;
  font-weight: bold;
  border: var(--bordas-botoes-negativas);
}
button {
  transition: all 0.2s ease-in-out;
}
#btnAlter {
  color: var(--fonte-icones);
  width: 30px;
  height: 25px;
  border-radius: 0px 0px 10px 0px;
  margin-top: 20px;
  font-weight: bold;
  border: var(--bordas-botoes-neutros);
}
.botaoConcluir {
  background-color: var(--botoes-positivos);
}

.botaoResetar {
  background-color: var(--botoes-neutros);
}

button {
  cursor: pointer;
}
/*hovers*/
#botaoSalvar:hover {
  box-shadow: 0 0 15px var(--botoes-neon1);
}
.botaoConcluir:hover {
  box-shadow: 0 0 15px var(--botoes-neon1);
}
.botaoDeletar:hover {
  box-shadow: 0 0 15px var(--botoes-neon2);
}
.botaoResetar:hover {
  box-shadow: 0 0 15px var(--botoes-neon3);
}

/*@medias*/

@media (max-width: 450px) {
  body {
    margin: 0px;
  }

  #contain {
    display: block;
    padding-top: 1px;
  }
  .cards {
    margin: 14px auto;
  }
}
